<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Selected Table View{% endblock %}</title>   
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
</head>
<body>
    <header>
        <h1>{% block tbname %} Configuration Table View{% endblock %}</h1>
        {% comment %} <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav> {% endcomment %}
    </header>

    <main>
        {% block content %}
        <!-- Default content can go here -->
        {% endblock %}
    </br>
    </main>

    <footer>
        <p>&copy; 2025 resume magician</p>
    </footer>
</body>
</html>