{% extends "baseList.html" %}

{% block title %}Linkedin Configurations{% endblock %}
{% block tbname %}Linkedin Configuration Table View{% endblock %}
{% block content %}
  {% if items %}
    {% for item in items %}
      <table class="linkedin">
        <tr>
          <td>        
            ({{item.Skill}})
          </td>
          <td>        
            ({{item.Url}})
          </td>
          <td>        
            ({{item.Isactive}})
          </td>
          <td>        
            ({{item.Priority}})
          </td>       
        </tr>
      </table>
    {% endfor %}
  {% else %}
    <p>There are no jobs in tde table.</p>
  {% endif %}
{% endblock %}